### List and Operation

In [9]:
num = list(range(5))
num

[0, 1, 2, 3, 4]

In [20]:
a = [1,2,3]
b = [1,2,3]
print("a:",a)
print("b:",b)
a+b

a: [1, 2, 3]
b: [1, 2, 3]

[1, 2, 3, 1, 2, 3]

In [22]:
a = [1,2,3,4,5,6,7,8,9]
b = a[0:5]
a,b

([1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5])

In [25]:
a = [1,2,3,4,5,6,7,8,9]
a[2:5] = [10,20,30]
a

[1, 2, 10, 20, 30, 6, 7, 8, 9]

### Split()

In [29]:
word = "python is very useful"
wordList = word.split()
type(word),type(wordList),word,wordList

(str, list, 'python is very useful', ['python', 'is', 'very', 'useful'])

### Extend()

In [34]:
a = [1,2,3,4]
b = [10,20,30,40]
a.extend(b)
a

[1, 2, 3, 4, 10, 20, 30, 40]

### Insert()

In [42]:
a = [0,1,2,3,4,5]
a.insert(2,50)
a

[0, 1, 50, 2, 3, 4, 5]

### pop()

In [43]:
a = [1,2,3,4,5]
a.pop(),a

(5, [1, 2, 3, 4])

In [44]:
a = [1,2,3,4,5]
a.pop(0),a

(1, [2, 3, 4, 5])

### Aliasing and side effect

In [48]:
first = [1,2,3,4,5]
second = first
print("before:",first)
print("before:",second)
second[0] = 99
print("after:",first)
print("after:",second)

befor: [1, 2, 3, 4, 5]
befor: [1, 2, 3, 4, 5]
after: [99, 2, 3, 4, 5]
after: [99, 2, 3, 4, 5]

##### Here fisrt and second points to the same list so the changes are afffected in both variables

### Aliasis Prevention

In [53]:
first = [1,2,3,4,5]
second = []
for x in first:
    second.append(x)
print("before:",first)
print("before:",second)
first[0] = 99
print("after:",first)
print("after:",second)

befor: [1, 2, 3, 4, 5]
befor: [1, 2, 3, 4, 5]
after: [99, 2, 3, 4, 5]
after: [1, 2, 3, 4, 5]

#### Here based on the first(object 1) we create an other object called second both are in different memory

### difference between "==" and "is" operator

#### == -> check whether the variable values are same or not, it doesn't bothered about it is same object or not
#### is -> It check whether the variable values are same or not and they are same object or not

In [4]:
first = [1,2,3,5,6]
second = first
third = [] #for create an another object with same value as fisrt
for x in fisrt:
    third.append(x)
    
print("first == second:",first == second)
print("first == third:",fisrt == third)

print("first is second:",first is second)
print("first is third:",first is third)

first == second: True
first == third: True
first is second: True
first is third: False

### List comprehension

In [6]:
a = [1,2,3,4,5,6]
a_square = [x**2 for x in a]
a_square

[1, 4, 9, 16, 25, 36]

### Recursive functions

In [16]:
def sum_of_range(lower,upper):
    if lower > upper:
        return 0
    else:
        return lower + sum_of_range(lower + 1,upper)
range_sum = sum_of_range(1,5)
range_sum

15

In [22]:
def factorial(limit):
    if limit == 1:
        return 1
    else:
        return limit * factorial(limit-1)
factorial(5)

120

In [26]:
num = 10
n1 = 0
n2 = 1
print(n1)
print(n2)
for i in range(2,num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    print(n3)

0
1
1
2
3
5
8
13
21
34

In [29]:
def fib(n):
    if n < 3:
        return 1
    else:
        return fib(n-1) + fib(n-2)
fib(6)

8

## Higher Order Functions

### Mapping

In [1]:
number_in_str = ['1','2','3','4','5']
number = list(map(int,number_in_str))
number

[1, 2, 3, 4, 5]

In [2]:
import math

In [3]:
number_sqr = list(map(math.sqrt,number))
number_sqr

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

In [7]:
def cube(n):
    return n**3
number_cube = list(map(cube,number))
number_cube

[1, 8, 27, 64, 125]

In [21]:
numbers = [1.2,2.7,3.6,4.2,5]

round_list = list(map(round,numbers))
round_list

[1, 3, 4, 4, 5]

### Filter

In [24]:
def cube(n):
    return n**3
cubes = list(filter(cube,number))
cubes

[1, 2, 3, 4, 5]

### Reducers

In [26]:
from functools import reduce

In [28]:
def product(x,y):
    return x * y
arr = [1,2,3,4]
reduce(product,arr)

24

it reduces the current array to a single value, based on a functiom(that contain two argumnts)

### Lambda

In [34]:
numbers = [1,2,3,4,5,6,7,8]
square = list(map(lambda x:x**2,numbers))
square

[1, 4, 9, 16, 25, 36, 49, 64]

In [35]:
arr = [1,2,3,4]
reduce(lambda x,y:x*y,arr)

24

In [40]:
# positiuve numbers
num = [-1,2,4,-9]
list(filter(lambda x:x>0,num))

[2, 4]

In [42]:
#Negative numbers

num = [-1,2,4,-9]
list(filter(lambda x:x<0,num))

[-1, -9]